@import "tailwindcss";

:root{
    /* background-color: #16191D; */
    background-image: linear-gradient(to bottom ,  #16191D, rgb(11, 75, 153)); /* Va de rojo (arriba) a azul (abajo) */
    height: 340dvh;
    width: 100%;
}




  

html{
    scroll-behavior: smooth;
}